*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.all{
    width:100%;
}
.cont1{
    width:100%;
    background: linear-gradient(#100063, black);
    color:rgb(248, 248, 248);
    padding-left: 2em;
    padding-bottom:1.5em
}
.cont1 h1{
    font-size:2.4em;
    padding-top: 5em;
    color:#008eec;
    font-family: 'Orbitron', sans-serif;
}
.cont1 .content{
    font-family: verdana;
    margin-top:2em;
    font-size: 17px;
}
.cont1 .footer{
    position:absolute;
    bottom:0;
    z-index: 4;
}
.headerSec{
    position:absolute;
}